Django==1.5.1
Markdown==2.3.1
PIL==1.1.7
South==0.7.6
argparse==1.2.1
distribute==0.6.40
django-classy-tags==0.4
django-mptt==0.5.5
django-sekizai==0.7
psycopg2==2.5
sorl-thumbnail==11.12
#wiki==0.0.19
-e git+https://github.com/crazyzubr/django-wiki.git@dca36181f0f9e35a3324001829e381e1798402f4#egg=wiki
wsgiref==0.1.2